<a href="https://colab.research.google.com/github/MythilyCrazy/class-and-object/blob/main/class_and_object.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class laptop:
  price = ""
  processor = ""
  RAM = ""

Hp = laptop()
Dell = laptop()
Hp.price = 50000
Hp.processor = "i7"
Hp.RAM = "16GB"
print(Hp.price)

50000

In [ ]:
class goa:
  name = ""
  drink = ""
  def party(self):
    print("enjoy party")
  def beach(self):
    print("enjoy beach")
ramesh = goa()
ganesh = goa()
ramesh.name = "Ramesh"
ganesh.name = "Ganesh"
ramesh.drink = "yes"
ganesh.drink =  "no"
print(ramesh.name)
print("drink : ",ramesh.drink)
ramesh.party()
print(ganesh.name)
print("drink : ",ganesh.drink)
ganesh.beach()

Ramesh
drink :  yes
enjoy party
Ganesh
drink :  no
enjoy beach

In [ ]:
class my:
  def __init__(self):    #constructor automatically called when object is created from class.
    print("demo")
  def she(self):
    print("she is good")
arms = my()

demo

In [ ]:
class books:
  def __init__(self):    #purpose of constructor is to initial or assign values
    self.book_name = ""
    self.book_price = 0
  def review(self):
    print("4 star")
comp = books()
comp.book_name = "Java"
comp.book_price = 3200
print(comp.book_name)
print(comp.book_price)
comp.review()

Java
3200
4 star

In [ ]:
class books:
  def __init__(self):
    self.book_name = ""
    self.book_price = 0
  def show(self):
    print("Book Name - ",self.book_name)   #class makes a self keyword for reffering an object #self--> current object
    print("Book Price - ",self.book_price)
book1 = books()
book1.book_name = "Java"
book1.book_price = 3200
book2 = books()
book2.book_name = "Python"
book2.book_price = 2000
book1.show()
book2.show()

Book Name -  Java
Book Price -  3200
Book Name -  Python
Book Price -  2000

In [ ]:
class Books:
  pass        #pass is used to create an empty class

In [ ]:
class Student:
  def __init__(self):
    self.name = ""
    self.regno = ""
  def display(self):
    print("Name - ",self.name)
    print("Reg.No - ",self.regno)
student1 = Student()
student2 = Student()
student1.name = "Mythily"
student1.regno = "My123"
student2.name = "Anitha"
student2.regno = "An124"
student1.display()
student2.display()

Name -  Mythily
Reg.No -  My123
Name -  Anitha
Reg.No -  An124

In [ ]:
class Fruit:
  def __init__(self,col):
    self.color = col

apple = Fruit("Red")
print(apple.color)

Red

In [ ]:
class Teacher:
  def __init__(self,name,reg):
    self.name = name
    self.regno = reg
  def display(self):
    print("Name : ",self.name)
    print("Reg.no :",self.regno)
teach1 = Teacher("mythu","my123")
teach2 = Teacher("Anitha","An124")
teach1.display()
teach2.display()

Name :  mythu
Reg.no : my123
Name :  Anitha
Reg.no : An124

In [ ]:
class Calculator():
  def __init__(self,a,b):
    self.add = a+b
    self.sub = a-b
    self.multi = a*b
    self.div = a/b
  def display(self):
    print("Addition :",self.add)
    print("Subtraction :",self.sub)
    print("Multiplication :",self.multi)
    print("Division :",self.div)
obj1 = Calculator(10,2)
obj1.display()

Addition : 12
Subtraction : 8
Multiplication : 20
Division : 5.0